@model TestCase.UI.Models.Order.CreateOrderModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head><title>Create Order</title></head>
<body>


<div class="container">
    @using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post, new {@class = "form-group", role = "form"}))
    {
        <table class="table">
            <tr class="row">
                <td class="col">
                    @Html.LabelFor(m => m.OrderId, "Order ID: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.TextBoxFor(m => m.OrderId, new {@class = "form-control"})
                </td>
                <td class="col">
                    @Html.LabelFor(m => m.Sales, "Sales: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.TextBoxFor(m => m.Sales, "{0:G29}", new {@class = "form-control"})
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    @Html.LabelFor(m => m.OrderDate, "Order Date: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.EditorFor(m => m.OrderDate, "{0:dd/MM/yyyy}", new {@class = "form-control"})
                </td>
                <td class="col">
                    @Html.LabelFor(m => m.ShipDate, "Ship Date: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.EditorFor(m => m.ShipDate, "{0:dd/MM/yyyy}", new {@class = "form-control"})
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    @Html.LabelFor(m => m.Quantity, "Quantity: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.TextBoxFor(m => m.Quantity, new {@class = "form-control"})
                </td>
                <td class="col">
                    @Html.LabelFor(m => m.Discount, "Discount: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.TextBoxFor(m => m.Discount, "{0:G29}", new {@class = "form-control"})
                </td>
                <td class="col">
                    @Html.LabelFor(m => m.Profit, "Profit: ", new {@class = "col-sm"})
                </td>
                <td class="col">
                    @Html.TextBoxFor(m => m.Profit, "{0:G29}", new {@class = "form-control"})
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    <button type="submit" class="btn btn-primary">Create</button>
                </td>
                <td class="col"/>
                <td class="col"/>
            </tr>
        </table>
    }
</div>
</body>
</html>